/* * {
    outline: 1px solid red;
} */

.skyblue {
    background-color: skyblue;
}

.title-font {
    font-family: Lobster;
}

.title-two-font {
    font-family: 'Encode Sans Condenced', sans-serif;
}

.btn-lg.round {
	border-radius: 24px;
}



a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    opacity: 0.75;
    filter: alpha(opacity=75);
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

.bg-white {
    background-color: white;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2em;
}

.card-white {
    height: 25rem;
    display: flex;
}

.card-white:hover {
    background: white;
    box-shadow: 0px 0px 30px rgb(206, 206, 206);
    border-radius: 0px;
  }

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-bottom-7 {
    margin-bottom: 7rem;
}

.icon{
    text-align: center;
}

.make-flex {
    display: flex;
    height: 35rem;
}

.bg-img {
    background-image: url(assets/texting.jpg);
}

.footer-color {
    background-color: #364048;
}
